<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="8.0.101"/>
	</system.web>
	<system.codedom>
		<compilers language="c#;cs;csharp" extension=".cs" type="Microsoft.Codedom.Providers.DotNetCompilerPlatform"></compilers>
	</system.codedom>
</configuration>