@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Your order was placed successfully!</h1>
        Your Order Number is: @Model <br /><br />
        <div class="mx-auto" style="width: 300px">
            <lottie-player src="https://lottie.host/f53ff27a-9ac7-43fe-ad38-aff46c8dd3dc/E7410EAcZD.json" background="transparent" speed="1" style="width: 300px" loop autoplay></lottie-player>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/@@lottiefiles/lottie-player@@latest/dist/lottie-player.js"></script>
}